@import (reference, multiple) './styles/colors.less';

::ng-deep app-reorder-list {

  &.image-with-text {
    .reorder-list-container {
      width: 300px !important;
    }
    .draggable-list-item {
      // For custom cards you will need to override width + height for this class
      width: 100px !important;
      height: 120px !important;
      .container {
        text-align: center;
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
    .list-item-placeholder {
      background: crimson !important;
    }
  }

}
