@import (reference, multiple) './styles/colors.less';

::ng-deep app-reorder-list {
  img {
    width: 100%;
    height: 100%;
    position: relative;
    &:hover {
      outline: 1px solid @gray45;
    }
  }
}
