p Cards with Image only
app-reorder-list.only-image(
[items]="listItems")

p Custom Cards with Image and text
app-reorder-list.image-with-text(
[items]="listItems")
  ng-template(#listItem, let-item="item", let-index="index")
    .container
      img([src]="item", draggable="false")
      div cat {{index}}

