ul.reorder-list-container([ngClass]="{'invalid': invalid}")
  li.list-item(*ngFor="let item of items; let i = index;",
  (dragover)="onDragOver($event, i)",
  (dragleave)="onDragLeave($event, i)",
  (drop)="onDragDrop($event, i)")
    .index {{i + 1}}
    .draggable-list-item.list-item-placeholder(*ngIf="i === dragOverIndex")
    .draggable-list-item(
    [ngClass]="{'drag-over': i === dragOverIndex, 'currently-dragged': i === draggedIndex, 'move-right': moveRight(i), 'move-left': moveLeft(i), 'move-down': moveDown(i), 'move-up': moveUp(i)}",
    draggable="true",
    (dragstart)="onDragStart($event, i)",
    (dragend)="onDragEnd($event, i)")
      ng-container(*ngTemplateOutlet="listItem; context: {item: item}")
      i.icon-CloseX(*ngIf="showRemove", (click)="remove(item, i)")
  .placeholder(*ngIf="!items.length")
    span Select cards from the left panel.
    span You can change the order of the cards by dragging them around.
